/* Removes unwanted styling from the page */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;
}
.nav{          
    justify-content: center;     
    margin: 20px;     
    display:flex;    
    margin-left: 100px;
    background-color: rgb(245, 241, 235); 
    list-style-type: none;
    padding: 14px; 
    border-radius: 2rem;
        }
  .nav li{
  
    margin-right:150px; 
  }      
  a {
    color: rgb(22, 3, 3);
    text-decoration: none; 
    padding: 10px;
}

 ul li a:hover{  
       background-color:rgb(233, 227, 227); 
      } 
 body{     
    background-color: #b9acac; 
}
button:hover{
    background-color: #b9acac;
}
.photo {
    height: 40em ;
    width: 40em;
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
}
.image_container {
        position: relative;
        width: 100%;
        height: 600px;
        background-image: url('images/pic.jpeg'); 
        background-size: cover;
        background-position: center;
        overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.image_container:hover .overlay {
    opacity: 1;
}


.about {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}
 .skills{
   height: 80vh;
   margin: 30%;
 }
.contacts{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;  
}

.my_skills {
    margin-bottom: 10px;
  }
  
  .skill-name {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
  }
  
  .bar {
    background-color: #FFF0F5;
    border-radius: 20px;
    overflow: hidden;
    width: 30%;
  }
  .level {
    background-color: #D8BFD8;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 15px;

}
#footer{
    background-color: rgb(68, 60, 60);
    color: white;
    align-items: center;
    text-align: center;
    padding: 20px;
}
